﻿<!DOCTYPE html>
<html ng-app="kardiomed" ng-cloak>
<head >
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Система мониторинга кардиоритма</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head >
@RenderBody()
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<!-- Angular Material Dependencies -->
<script src="/Scripts/angular/angular.js"></script>
<script src="/Scripts/angular/angular-animate.js"></script>
<script src="/Scripts/angular/angular-aria.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>


<!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

<script src="/Scripts/mfb-directive.js"></script>
@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/frotend")
<script src='/signalr/js'></script>
<script src="/signalr/hubs"></script>

<script>


</script>

</html>
