<md-dialog aria-label="Mango (Fruit)" flex="33">
    <form>
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">Создать иструкцию</md-subheader>
            <form name="projectForm">
                <md-content layout="row"  layout-padding>
                    <div layout="column" flex layout-sm="column">
                        <div flex>

                            <md-input-container>
                                <label>Заголовок</label>
                                <input required name="title" ng-model="instruction.title">
                                <div ng-messages="projectForm.title.$error">
                                    <div ng-message="required">Имя обязательно</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout="row" layout-sm="column">
                            <md-input-container >
                                <label>Дата начала</label>
                                <input type="date" required name="start" ng-model="instruction.startDate">
                                <div  ng-messages="projectForm.start.$error">
                                    <div ng-message="required">Дата начала обязательна</div>
                                </div>
                            </md-input-container>
                            <md-input-container >
                                <label>Дата окончания</label>
                                <input type="date" required name="end" ng-model="instruction.endDate">
                                <div  ng-messages="projectForm.end.$error">
                                    <div ng-message="required">Дата окончания обязательна</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-sm="column">
                            <md-input-container flex>
                                <label>Описание</label>
                                <textarea ng-model="instruction.description" columns="1"></textarea>
                            </md-input-container>

                        </div>
                    </div>
                </md-content>

            </form>



        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()" class="md-primary">
               Отмена
            </md-button>
            <md-button ng-click="answer()" class="md-primary">
                Создать
            </md-button>
        </div>
    </form>
</md-dialog>