<md-dialog aria-label="Mango (Fruit)" flex="33">
    <form>
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-title md-sticky-no-effect">Создать задание</md-subheader>
            <form name="projectForm">
                <md-content layout="row" layout-padding>
                    <div layout="column" flex layout-sm="column">
                        <div flex>
                            <md-input-container>
                                <label>Название задания</label>
                                <input required name="firstName" ng-model="task.title">

                                <div ng-messages="projectForm.firstName.$error">
                                    <div ng-message="required">Имя обязательно</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-sm="column">
                            <md-input-container>
                                <label>Дата окончания</label>
                                <input type="date" required name="birthday" ng-model="task.start">

                                <div ng-messages="projectForm.birthday.$error">
                                    <div ng-message="required">Дата рождения обязательна</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-sm="column">
                            <md-input-container flex>
                                <label>Описание задания</label>
                                <textarea ng-model="task.description" columns="1"></textarea>
                            </md-input-container>

                        </div>
                    </div>
                </md-content>

            </form>


        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer('not useful')" class="md-primary">
                Отмена
            </md-button>
            <md-button ng-click="answer('useful')" class="md-primary">
                Создать
            </md-button>
        </div>
    </form>
</md-dialog>