<md-content flex layout="column">
    <md-content>

        <md-card class="md-default-theme md-whiteframe-z3" layout="column" ng-repeat="doctor in doctors">

            <md-card-content layout-padding flex layout="column">
                <md-content flex layout="column">
                    <md-content layout="row">


                        <md-content layout="column" flex="66">
                            <h3 class="md-title">Врач {{doctor.fullName}}</h3>
                        </md-content>
                        <md-content flex layout-align="end center" layout="row">
                            <img ng-src="{{doctor.href}}" class="md-card-image" alt="Washed Out">
                        </md-content>
                    </md-content>

                    <h2 ng-hide="doctor.isEdit" class="md-subhead">Пациенты:</h2>
                    <md-chips ng-hide="doctor.isEdit" class="md-contact-chips" ng-model="doctor.patients"
                              readonly="true"
                            >
                        <md-chip-template>
                            <div class="md-contact-avatar">
                                <img
                                        ng-src="{{$chip.href}}"
                                        alt="{{$chip.fullName}}"/>
                            </div>
                            <div class="md-contact-name">
                                {{$chip.fullName}}
                            </div>
                        </md-chip-template>

                    </md-chips>


                    <md-content ng-show="doctor.isEdit" layout="column" layout-padding>
                    <h2 class="md-subhead">Пациенты</h2>
                    <md-content class="md-padding autocomplete" layout="column">
                        <md-contact-chips flex
                                          ng-model="doctor.patients"
                                          md-contacts="querySearch($query)"
                                          md-contact-name="fullName"
                                          md-contact-image="href"
                                          md-contact-email="Address"
                                          md-require-match
                                          filter-selected="true"
                                          placeholder="To"

                                >
                        </md-contact-chips>
                    </md-content>
                </md-content>
                </md-content>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="start center">
                <md-button ng-click="save(doctor)" ng-show="doctor.isEdit">Сохранить</md-button>
                <md-button ng-click="edit(doctor)" ng-hide="doctor.isEdit">Редактировать</md-button>
                <md-button ng-clik="cancel(doctor)" ng-show="doctor.isEdit">Отмена</md-button>
            </div>
        </md-card>

    </md-content>


</md-content>