<md-content flex layout="column">
    <md-content>

        <md-card class="md-default-theme" layout="column">
            <form name="projectForm">
                <md-card-content layout-padding flex layout="column">


                    <md-content layout="row">
                        <div layout="column" flex layout-sm="column">
                            <div layout="row" layout-sm="column">


                                <md-input-container>
                                    <label>Имя</label>
                                    <input required name="firstName" ng-model="doctor.firstName">

                                    <div ng-messages="projectForm.firstName.$error">
                                        <div ng-message="required">Имя обязательно</div>
                                    </div>
                                </md-input-container>

                                <md-input-container>
                                    <label>Фамилия</label>
                                    <input required name="lastName" ng-model="doctor.lastName">

                                    <div ng-messages="projectForm.lastName.$error">
                                        <div ng-message="required">Фамилия обязательна</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Отчество</label>
                                    <input required name="semiName" ng-model="doctor.semiName">

                                    <div ng-messages="projectForm.semiName.$error">
                                        <div ng-message="required">Фамилия обязательна</div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="row" layout-margin layout-padding layout-sm="column">
                                <md-input-container>
                                    <label>Дата рождения</label>
                                    <input type="date" required name="birthday" ng-model="doctor.birthday">

                                    <div ng-messages="projectForm.birthday.$error">
                                        <div ng-message="required">Дата рождения обязательна</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Дата регистрации в системе</label>
                                    <input type="date" required name="registerDate" ng-model="doctor.registerDate">

                                    <div ng-messages="projectForm.registerDate.$error">
                                        <div ng-message="required">Дата регистрации в системе обязательна</div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="row" layout-sm="column">
                                <md-input-container>
                                    <label>Образование</label>
                                    <input required name="education" ng-model="doctor.education">

                                    <div ng-messages="projectForm.education.$error">
                                        <div ng-message="required">Образование обязательно</div>
                                    </div>
                                </md-input-container>

                            </div>


                            <div layout="row" layout-sm="column">
                                <md-input-container flex>
                                    <label>Прочие заметки</label>
                                    <textarea ng-model="doctor.about" columns="1"></textarea>
                                </md-input-container>

                            </div>

                            <div layout="row" layout-sm="column">


                                <md-input-container>
                                    <label>Имя пользователя для работы с системой</label>
                                    <input required name="userName" ng-minlength="8" ng-model="doctor.userName">

                                    <div ng-messages="projectForm.userName.$error">
                                        <div ng-message="required">Имя пользователя обязательно</div>
                                        <div ng-message="minlength">Имя пользователя должно быть длинее 8</div>
                                    </div>
                                </md-input-container>

                                <md-input-container  ng-if="mode!='edit'">
                                    <label>Пароль</label>
                                    <input required name="password" ng-minlength="6" ng-model="doctor.password">

                                    <div ng-messages="projectForm.password.$error">
                                        <div ng-message="required">Пароль обязателелен</div>
                                        <div ng-message="minlength">Пароль должен быть длинее 6</div>
                                    </div>
                                </md-input-container>

                                <md-input-container  ng-if="mode=='edit'">
                                    <label>Пароль</label>
                                    <input name="doctor" ng-model="doctor.password">

                                </md-input-container>

                            </div>


                        </div>


                        <md-content flex='33'  layout="column">

                            <md-content layout-align="end center" layout="row">
                                <md-button ng-hide="doctor.href!==undefined" class="button" ngf-select
                                           ng-model="doctor.files"
                                           ngf-change="fileSelected($files, $event)"
                                        >
                                    Выбрать файл
                                </md-button>


                                <img ng-show="doctor.href!==undefined" ng-src="{{doctor.href}}" class="md-card-image"
                                     alt="Washed Out">
                            </md-content>

                            <md-content ng-show="mode=='edit'" layout-align="end center" >
                                <md-button  class="button" ngf-select
                                            ng-model="doctor.files"
                                            ngf-change="fileSelected($files, $event)"
                                        >
                                    Выбрать файл
                                </md-button>
                            </md-content>
                        </md-content>
                    </md-content>


                </md-card-content>
                <div class="md-actions" layout="row" layout-align="start center">
                    <md-button ng-show="mode=='edit'" ng-disabled="projectForm.$invalid" ng-click="save()">Сохранить
                    </md-button>
                    <md-button ng-show="mode=='add'" ng-disabled="projectForm.$invalid" ng-click="add()">Добавить
                    </md-button>
                    <md-button  ng-href="/patients">Отмена</md-button>
                    <md-button ng-show="mode=='edit'" ng-click="remove()">Удалить</md-button>
                </div>
            </form>
        </md-card>
    </md-content>
</md-content>