
<md-content flex layout="column">
    <md-content>

        <md-card class="md-default-theme md-whiteframe-z3" layout="column" ng-repeat="doctor in doctors">

            <md-card-content layout-padding flex layout="column">
                <md-content layout="row">
                    <md-content layout="column" flex="66">
                        <h3 class="md-title">{{doctor.fullName}}</h3>

                        <p class="md-subhead">{{doctor.age}} года</p>

                        <p class="md-subhead">{{doctor.address}}</p>

                        <p>
                            {{doctor.education}}
                        </p>
                    </md-content>

                    <md-content flex layout-align="end center" layout="row">
                        <img ng-src="{{doctor.href}}" class="md-card-image" alt="Washed Out">
                    </md-content>
                </md-content>
                <md-content layout="column">

                    <p class="md-body-1">
                        {{doctor.about}}
                    </p>

                </md-content>

            </md-card-content>
            <div class="md-actions" layout="row" layout-align="start center">
                <md-button ng-href="/doctor/edit?id={{doctor.id}}">Редактирование</md-button>
                <md-button ng-click="remove(doctor)">Удалить</md-button>
            </div>
        </md-card>
        <nav  md-theme="pink" mfb-menu position="br"
             active-icon="plus" resting-icon="plus"
              effect="slidein"  toggling-method="click"
             template-url="ng-mfb-menu-md.tpl.html"
              label="добавить пользователя" main-action="add()">

        </nav>
    </md-content>


</md-content>