﻿
<md-content flex layout="column" layout-align="center center" >
    <md-card  layout-align="center center">
        <md-toolbar class="demo-toolbar md-default-theme">
            <div class="md-toolbar-tools">
                <h3 class="ng-binding">Выполните вход</h3>

            </div>
        </md-toolbar>
        <md-card-content layout="column">
            <md-content layout-padding layout="column" layout-sm="column">
                <md-input-container>
                    <label>Логин</label>
                    <input ng-model="loginData.userName">
                </md-input-container>
                <md-input-container>
                    <label>Пароль</label>
                    <input ng-model="loginData.password" type="password">
                </md-input-container>
            </md-content>
            <md-button class="md-raised md-primary" ng-click="login()">Вход</md-button>
        </md-card-content>

    </md-card>
</md-content>
