<md-content flex layout="column">
    <md-content>

        <md-card class="md-default-theme md-whiteframe-z3" layout="column">
            <form novalidate name="projectForm">
                <md-card-content layout-padding flex layout="column">


                    <md-content layout="row">
                        <div layout="column" flex layout-sm="column">
                            <div layout="row" layout-sm="column">


                                <md-input-container>
                                    <label>Имя</label>
                                    <input required name="firstName" ng-model="patient.firstName">

                                    <div ng-messages="projectForm.firstName.$error">
                                        <div ng-message="required">Имя обязательно</div>
                                    </div>
                                </md-input-container>

                                <md-input-container>
                                    <label>Фамилия</label>
                                    <input required name="lastName" ng-model="patient.lastName">

                                    <div ng-messages="projectForm.lastName.$error">
                                        <div ng-message="required">Фамилия обязательна</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Отчество</label>
                                    <input required name="semiName" ng-model="patient.semiName">

                                    <div ng-messages="projectForm.semiName.$error">
                                        <div ng-message="required">Фамилия обязательна</div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="row" layout-sm="column">
                                <md-input-container>
                                    <label>Дата рождения</label>
                                    <input type="date" required name="birthday" ng-model="patient.birthday">

                                    <div ng-messages="projectForm.birthday.$error">
                                        <div ng-message="required">Дата рождения обязательна</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Дата регистрации в системе</label>
                                    <input type="date" required name="registerDate" ng-model="patient.registerDate">

                                    <div ng-messages="projectForm.registerDate.$error">
                                        <div ng-message="required">Дата регистрации в системе обязательна</div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-margin layout-sm="column">
                                <h2 class="md-title">Болезни</h2>
                                <md-chips ng-model="patient.disease"></md-chips>
                            </div>

                            <div layout="row" layout-sm="column">
                                <md-input-container flex>
                                    <label>Прочие заметки</label>
                                    <textarea ng-model="patient.about" columns="1"></textarea>
                                </md-input-container>

                            </div>


                            <div layout="row" layout-padding layout-sm="column">


                                <md-input-container>
                                    <label>Имя пользователя для работы с системой</label>
                                    <input required name="userName" ng-minlength="8" ng-model="patient.userName">

                                    <div ng-messages="projectForm.userName.$error">
                                        <div ng-message="required">Имя пользователя обязательно</div>
                                        <div ng-message="minlength">Имя пользователя должно быть длинее 8</div>
                                    </div>
                                </md-input-container>
                                <md-input-container ng-if="mode=='add'">
                                    <label>Пароль</label>
                                    <input type="password" required name="password" ng-minlength="6"
                                           ng-model="patient.password">

                                    <div ng-messages="projectForm.password.$error">
                                        <div ng-message="required">Пароль обязателелен</div>
                                        <div ng-message="minlength">Пароль должен быть длинее 6</div>
                                    </div>
                                </md-input-container>

                                <md-input-container ng-if="mode=='edit'">
                                    <label>Пароль</label>
                                    <input name="password1" ng-model="patient.password">
                                </md-input-container>
                            </div>
                        </div>


                        <md-content flex='33'  layout="column">

                            <md-content layout-align="end center" layout="row">
                                <md-button ng-hide="patient.href!==undefined" class="button" ngf-select
                                           ng-model="patient.files"
                                           ngf-change="fileSelected($files, $event)"
                                        >
                                    Выбрать файл
                                </md-button>


                                <img ng-show="patient.href!==undefined" ng-src="{{patient.href}}" class="md-card-image"
                                     alt="Washed Out">
                            </md-content>

                            <md-content ng-show="mode=='edit'" layout-align="end center" >
                                <md-button  class="button" ngf-select
                                           ng-model="patient.files"
                                           ngf-change="fileSelected($files, $event)"
                                        >
                                    Выбрать файл
                                </md-button>
                            </md-content>
                        </md-content>

                    </md-content>


                </md-card-content>
                <div class="md-actions" layout="row" layout-align="start center">
                    <md-button ng-show="mode=='edit'" ng-disabled="projectForm.$invalid" ng-click="save()">Сохранить
                    </md-button>
                    <md-button ng-show="mode=='add'" ng-disabled="projectForm.$invalid" ng-click="add()">Добавить
                    </md-button>
                    <md-button ng-href="/patients">Отмена</md-button>
                    <md-button ng-show="mode=='edit'" ng-click="remove()">Удалить</md-button>
                </div>
            </form>
        </md-card>
    </md-content>
</md-content>