<md-content flex layout="column">
    <md-content>

        <md-card class="md-default-theme" layout="column">

            <md-card-content layout-padding flex layout="column">

                <md-content flex layout="row">
                    <md-content flex layout="column">
                        <h3 class="md-title">{{patient.fullName}}</h3>
                        <md-divider></md-divider>
                    </md-content>
                    <md-content flex layout-align="end center" layout="row">
                        <md-button ng-href="/patients/edit?id={{patient.id}}">Редактирование</md-button>
                        <md-button ng-click="remove(patient)">Удалить</md-button>
                    </md-content>
                </md-content>

                <md-content class="md-padding">
                    <md-tabs md-selected="selectedIndex" md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                        <md-tab label="Информация">
                            <h1 class="md-display-2">Информация о пациенте</h1>
                            <md-content layout="row">
                                <md-content layout="column" flex="66">

                                    <p class="md-subhead">Возвраст {{patient.age}} года</p>
                                    <md-divider></md-divider>
                                    <p class="md-subhead">Вес 60 кг</p>
                                    <md-divider></md-divider>
                                    <p class="md-subhead">Адрес г.Таганрог</p>
                                    <md-divider></md-divider>
                                </md-content>

                                <md-content flex layout-align="end center" layout="row">
                                    <img ng-src="{{patient.href}}" class="md-card-image" alt="Washed Out">
                                </md-content>
                            </md-content>
                            <md-content layout="column">
                                <h2 class="md-title">Отклонения</h2>
                                <md-chips
                                        ng-model="patient.disease"
                                        readonly="true"
                                        placeholder="Enter a tag"
                                        delete-button-label="Remove Tag"
                                        delete-hint="Press delete to remove tag"
                                        secondary-placeholder="+Tag"></md-chips>
                                <h2 class="md-title">О пациенте</h2>

                                <p class="md-body-1">
                                    {{patient.about}}
                                </p>
                                <md-divider></md-divider>

                                <md-divider></md-divider>

                            </md-content>


                        </md-tab>
                        <md-tab label="Мониторинг">
                            <md-content class="md-padding" ng-controller="patientMonitorController" >
                                <h1 class="md-display-1">Информация мониторинга пациента</h1>

                                <md-content layout-padding layout="column" layout-gt="row">
                                    <md-content layout-padding layout-margin  class="md-whiteframe-z3" layout="column">

                                        <md-content layout="row" layout-md="column">
                                            <h4 class="md-headline">Сведения о ЧСС</h4>

                                            <md-content layout-align="end center" flex layout="row">
                                                <md-button ng-href="/patients/edit?id={{patient.id}}">Расширенный
                                                    просмотр
                                                    ЧСС
                                                </md-button>
                                            </md-content>
                                        </md-content>
                                        <md-content>
                                            <canvas class="chart chart-line" data="data_heartRate"
                                                    labels="labels_heartRate"
                                                    series="series_heartRate" click="onClick"
options="option_heartRate"
                                                    ></canvas>
                                        </md-content>

                                    </md-content>
                                    <md-content layout-padding layout-margin  class="md-whiteframe-z3" layout="column">
                                        <md-content flex layout="row" layout-md="column">
                                            <h4 class="md-headline">Последняя полученная кардиограмма</h4>
                                            <md-content layout-align="end center" flex layout="row">
                                                <md-button ng-href="/patients/edit?id={{patient.id}}">Расширенный
                                                    просмотр
                                                    ЭКГ
                                                </md-button>
                                            </md-content>
                                        </md-content>
                                        <h4 class="md-subhead">Время получения: {{dateLastEcg}}</h4>
                                        <md-content>
                                            <canvas class="chart chart-line" data="data_ecg" labels="labels_ecg"
                                                    series="series_ecg" options="option_ecg" click="onClick"

                                                    ></canvas>
                                        </md-content>

                                    </md-content>
                                    <md-content layout-padding layout-margin class="md-whiteframe-z3" flex layout="column">
                                        <md-content flex layout="row" layout-md="column">
                                            <h4 class="md-headline">Местоположение пациента</h4>

                                            <md-content layout-align="end center" flex layout="row">
                                                <md-button ng-href="/patients/edit?id={{patient.id}}">Расширенный
                                                    просмотр
                                                    местоположения
                                                </md-button>
                                            </md-content>
                                        </md-content>


                                        <leaflet center="center" markers="markers" paths="paths" defaults="defaults"
                                                 height="480px" width="640p"></leaflet>
                                    </md-content>
                                </md-content>
                            </md-content>
                        </md-tab>
                        <md-tab label="Задания">
                            <md-content flex class="md-padding" ng-controller="patientTaskController">
                                <h1 class="md-display-2">История заданий</h1>
                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
                                    Включить архивные архивные
                                </md-switch>
                                <md-card ng-repeat="task in tasks" class="md-whiteframe-z3">
                                    <md-card-content>
                                        <h2 class="md-title">{{task.title}}</h2>

                                        <p>
                                            {{task.type}}
                                        </p>

                                        <p>
                                            {{task.description}}
                                        </p>

                                        <p>
                                            {{task.comment}}
                                        </p>
                                    </md-card-content>
                                    <div class="md-actions" layout="row" layout-align="end center">
                                        <md-button>Просмотреть подробно</md-button>
                                        <md-button>В архив</md-button>
                                    </div>
                                </md-card>
                            </md-content>
                        </md-tab>
                        <md-tab label="Предписания">
                            <md-content flex class="md-padding" ng-controller="patientInstructionController">
                                <h1 class="md-display-2">История предписаний</h1>
                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
                                    Включить архивные
                                </md-switch>
                                <md-card ng-repeat="instruction in instructions" class="md-whiteframe-z3">
                                    <md-card-content>
                                        <h2 class="md-title">{{instruction.title}}</h2>

                                        <p>
                                            {{instruction.description}}
                                        </p>

                                        <p>
                                            {{instruction.comment}}
                                        </p>
                                    </md-card-content>
                                    <div class="md-actions" layout="row" layout-align="end center">
                                        <md-button>Просмотреть подробно</md-button>
                                        <md-button>В архив</md-button>
                                    </div>
                                </md-card>
                            </md-content>
                        </md-tab>
                    </md-tabs>

                </md-content>
            </md-card-content>


            <ul md-theme="pink" mfb-menu position="br"
                active-icon="close" resting-icon="menu"
                effect="slidein" toggling-method="hover"
                template-url="ng-mfb-menu-md.tpl.html"
                label="выберете действие">
                <a template-url="ng-mfb-button-md.tpl.html" mfb-button icon="plus" label="создать задание"
                   ng-click="createTask()"></a>
                <a template-url="ng-mfb-button-md.tpl.html" mfb-button icon="plus" label="новое предписание"
                   ng-click="createInstruction()"></a>
            </ul>


        </md-card>
    </md-content>
</md-content>