
<md-content flex layout="column">
    <md-content>

        <md-card class="md-default-theme md-whiteframe-z2 layout="column" ng-repeat="patient in patients" >

            <md-card-content layout-padding flex layout="column">
                <md-content layout="row">
                    <md-content  layout="column" flex="66">
                        <h3 class="md-title">{{patient.fullName}}</h3>
                        <p  class="md-subhead">{{patient.age}} года</p>
                        <p class="md-subhead">{{patient.address}}</p>
                        <h2 class="md-title">Отклонения</h2>
                        <md-chips
                                ng-model="patient.disease"
                                readonly="true"
                                placeholder="Enter a tag"
                                delete-button-label="Remove Tag"
                                delete-hint="Press delete to remove tag"
                                secondary-placeholder="+Tag"></md-chips>
                    </md-content>

                    <md-content flex layout-align="end center" layout="row">
                        <img ng-src="{{patient.href}}" class="md-card-image" alt="Washed Out">
                    </md-content>
                </md-content>
                <md-content layout="column" >
                    <h2 class="md-title">Дополнительная информация</h2>
                    <p class="md-body-1">
                        {{patient.about}}
                    </p>

                </md-content>

            </md-card-content>
            <div class="md-actions" layout="row" layout-align="start center" ng-show="role=='Admin'">
                <md-button ng-href="/patient?id={{patient.id}}">Просмотр</md-button>
                <md-button ng-href="/patients/edit?id={{patient.id}}">Редактирование</md-button>
                <md-button ng-click="remove(patient)">Удалить</md-button>
            </div>
        </md-card>
        <nav md-theme="pink" mfb-menu position="br"
              active-icon="plus" resting-icon="plus"
              effect="slidein"   toggling-method="click"
              template-url="ng-mfb-menu-md.tpl.html"
              label="добавить пользователя" main-action="add()">

        </nav>
    </md-content>
</md-content>