﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h3 class="ng-binding">AdminUser</h3>
<h3 class="ng-binding">wUcheva$3a</h3>
