﻿<body ng-controller="AppController" layout="column">


<md-toolbar layout="row" ng-show="authentication.isAuth">
    <button ng-click="toggleSidenav('left')" hide-gt-lg class="menuBtn"></button>
    <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Система мониторинга здоровья</h1>
</md-toolbar>
<div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-sidenav-left  md-whiteframe-z2" ng-show="authentication.isAuth" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-lg')">
        <md-list class="menu-list">
            <md-item>
                <md-item-content>
                    <md-button ng-href="/home/">
                        Главная
                    </md-button>
                </md-item-content>
                <md-item-content>
                    <md-button ng-class="{ 'md-primary md-raised': isActive('/patients') }"  ng-href="/patients/" >
                        Пациенты
                    </md-button>
                </md-item-content>
                <md-button ng-href="/doctors" ng-class="{ 'md-raised md-primary': isActive('/doctors') }">
                    Врачи
                </md-button>
                <md-button ng-href="/doctor_patient" ng-class="{ 'md-raised md-primary': isActive('/doctor_patient') }">
                    Назначение пациентов
                </md-button>
                <md-item-content>
                    <md-button ng-click="logout()">
                        Выход
                    </md-button>
                </md-item-content>
            </md-item>

        </md-list>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content layout="row" flex ng-view id="content">


    </md-content>


</div>


</body>